.wrapper
  .leftwrapper
    .leftwrapper__search
      %input#search_trouble
      .troublecontainer
        - @troubles.each do |trouble|
          .leftwrapper__result
            %p.content{data: {trouble: {id: trouble.id}}}
              = trouble.content
            %p.createdat
              = trouble.created_at.strftime("%Y-%m-%d %H:%M")
  .rightwrapper
    %ul.rightwrapper__list
      %li.rightwrapper__list__item.errmessage
      %li.rightwrapper__list__item.solveurl
      %li.rightwrapper__list__item.consider
      %li.rightwrapper__list__item.conduct