.wrapper
  .leftwrapper
    .leftwrapper__search
      %input#search_trouble
      .troublecontainer
        - @troubles.each do |trouble|
          .leftwrapper__result
            %p.content{data: {trouble: {id: trouble.id}}}
              = trouble.content
            %p.createdat
              = trouble.created_at.strftime("%Y-%m-%d %H:%M")
  .rightwrapper
    %ul.rightwrapper__list
      %li.rightwrapper__list__item.errmessage
        %p.title エラーメッセージ： 
        %p.content SyntaxError
      %li.rightwrapper__list__item.solveurl
        %p.title 参考URL： 
        %p.content http://google.com
      %li.rightwrapper__list__item.consider
        %p.title エラー発生理由：
        %p.content カッコのつけ忘れ
      %li.rightwrapper__list__item.conduct
        %p.title 解決手順：
        %p.content kjfhびsjglrlgh←rjls←glz